<div id="<%= dom_id property %>">
  <p>
    <strong>Image:</strong>
    <%= property.image %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= property.title %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= property.price %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= property.address %>
  </p>

  <p>
    <strong>Number of rooms:</strong>
    <%= property.number_of_rooms %>
  </p>

  <p>
    <strong>Mrt:</strong>
    <%= property.MRT %>
  </p>

</div>
